.header{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navbar-items{
    margin: 0 auto;
}

.navbar-items li{
    float: left;
    list-style: none;
    margin-left: 35px;
    border-bottom: 1px solid;
}

.navbar-items li:hover{
    cursor: pointer;
    color: red;
    border-bottom: 1px solid red;
    transition: 0.5s;
    transform: translateY(-5px);
}

.cart-icon{
    cursor: pointer;
    font-size: 32px;
}