@font-face {
	font-family: 'Comfortaa';
	src: url('./font/Comfortaa-Regular.woff');
	font-weight: 1;
	font-style: normal;
}

body, *, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
    font-size: 16px;
    user-select: none;
}

#root{
    max-width: 1722px;
    margin: 0 auto;
}